@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters">
            <div class="col p-4 mb-4 ">
                <img src="~/images/titan-lg-gold.png" />
                <p class="card-text">
                    TitanHelp is a basic Help Desk application
                    that allows a user to create and edit tickets
                    and assign them to customers.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p>
                    <a asp-page="/Tickets/Index" class="stretched-link"><i class="fa-solid fa-ticket"></i>&nbsp; View Tickets</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p>
                    <a asp-page="/Customers/Index" class="stretched-link"><i class="fa-solid fa-users"></i>&nbsp; View Users</a>
                </p>
            </div>
        </div>
    </div>
</div>
